/* change all the stylings for your tags referencing this style sheet */
h1 {
    color: #696969;
}

a {
    font-size: 18px;
    margin-right: 5px;
}

/* custom classes and ids */
.margin-20 {
    margin-top: 20px;
}

#btn {
    width: 150px;
    background-color: #008080;
    color: white;
    cursor: pointer;
}